<div class="description-detail">
    <div class="header">
        <div>
            <ol class="breadcrumb">
                <li><a href="/pc/description">游戏介绍</a></li>
                <li><a href="/pc/description?category=<%=model.category %>"><%= model.category%></a></li>
                <li class="active"><%= model.title%></li>
            </ol>
        </div>
        <ul class="clearfix">
            <li class="line"></li>
            <li><h1><%= model.title %></h1></li>
        </ul>
    </div>

    <div id="content">
        <div class="body">
            <p>
                <%- model.body %>
            </p>
        </div>
    </div>
</div>
