<% include ../header.ejs %>

<form action="/pc/admin/description">
    标题：<br />
    <input type="text" id="title" name="title" value="<%=description.title%>" /><br />

    <br/>
    <% if(description.isShow === true){%>
    是否显示:<input type="checkbox" id="isShow" name="isShow" checked="checked"/>
    <%}else{%>
    是否显示:<input type="checkbox" id="isShow" name="isShow"/>
    <%}%>
    <br/>

    类别：<br/>
    <select id="category" name="category">
        <% for(var i = 0, len = categorys.length; i < len; i++){%>
        <% if(description.category === categorys[i].name){%>
        <option selected="selected" value="<%= categorys[i].name%>"><%=categorys[i].name%></option>
        <% }else{%>
        <option value="<%= categorys[i].name%>"><%=categorys[i].name%></option>
        <% }%>
        <% }%>
    </select>

    正文：<br />
  <textarea id="body" name="body">
     <%= description.body %>
  </textarea>
    <br />
    <input type="submit" value="提交" />

    <input id="id" type="hidden" value="<%=description._id%>"/>
</form>


<% include ../footer.ejs %>

<script src="/pc/js/admin/description/update.js"></script>
<% include ../kindeditorJs.ejs %>
<% include ../footerHtml.ejs %>
